<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sadhaka.readdict">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/readdictlogo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/readdictlogo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReAddict">
        <activity
            android:name=".BorrowedListDetailActivity"
            android:exported="true" />
        <activity
            android:name=".BorrowedListActivity"
            android:exported="true" />
        <activity
            android:name=".BorrowActivity"
            android:exported="true" />
        <activity
            android:name=".CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".BerandaActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".LandingPage"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>